<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<div class="text-center">
  <p id="notice"><%= notice %></p>
  <div>
    <h5><%= @list.name %></h5>
    <p><%= @list.description %></p=>            
    <%= link_to 'Editar', edit_list_path(@list),class: "btn btn-info" %>    
  </div>
</div>