<div class="text-center">
  <p id="notice"><%= notice %></p>
  <div>   
    <h5><%= @item.name %></h5>      
    <%= link_to 'Editar', edit_item_path(@item),class: "btn btn-info" %>    
  </div>
</div>


